<a href="https://colab.research.google.com/github/TitusVHDZ/INTRO-GITHUB/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Introduce commonly used libraries in Data Science.
- Demonstrate evaluation of arithmetic expressions in Python.
- Perform basic calculations to convert units (e.g., minutes to hours).
- Showcase usage of Jupyter Notebook for interactive coding and documentation.

Some of the popular languages that Data Scientists use are:

1. **Python**

2. **R**

3. **SQL**

4. **Julia**

Some of the commonly used libraries used by Data Scientists include:

1. **NumPy**: Fundamental package for numerical computing in Python.

2. **Pandas**: Library for data manipulation and analysis in Python..

3. **Matplotlib**: Comprehensive library for creating static, animated, and interactive visualizations in Python.

4. **Scikit-learn**: Simple and efficie

5. **TensorFlow (or PyTorch)**: Deep learning frameworks that facilitate building and training neural networks.

| Data Science Tools   |
|----------------------|
| Jupyter Notebook     |
| RStudio              |
| Spyder               |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Victor Diaz